
<div class="form">
  <p>taller-creaedita</p>
  <h1>Taller</h1>

  <mat-form-field class="example-full-width">
    <mat-label>Id</mat-label>
    <input matInput placeholder="id" [(ngModel)]="taller.id">
  </mat-form-field>

  <br>

  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input matInput required placeholder="name" [(ngModel)]="taller.nameTaller">

  </mat-form-field>

  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Address</mat-label>
    <input type="address" matInput required placeholder="address" [(ngModel)]="taller.addressTaller">
  </mat-form-field>

  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Ruc</mat-label>
    <input type="ruc" matInput required placeholder="ruc" [(ngModel)]="taller.ruc">
  </mat-form-field>


  <br>
  <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
  <button mat-raised-button color="warn" routerLink="/talleres">Cancelar</button>
  <p>{{mensaje}}</p>

</div>
