.demo-table {
    width: 100%;
  }


  .mat-cell{
    background-color: #fcfcfc;

  }
  .mat-column-id {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
    font-weight: bolder;
    background-color: #cfcfcf;
  }

  .mat-column-nameProducto {
    padding-left: 16px;
    font-size: 16px;
    width: 10rem;
    text-align: center;
  }

  .mat-column-costoProducto {
    font-style: italic;
    width: 7rem;
    text-align: center;
  }

  .mat-column-ventaProducto {
    font-style: italic;
    width: 8rem;
    text-align: center;
  }

  .mat-column-accion1 {
    font-style: italic;
    width: 10rem;
    text-align: center;
  }

  .mat-column-accion2 {
    font-style: italic;
    width: 10rem;
    text-align: center;
  }

  .mat-header-cell {
    background-color: #303030;
    color: #ffffff;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: uppercase;
  }
