<div class="container">
  <p>factura-creaedita </p>
  <h1>FACTURA</h1>

  <mat-form-field class="example-full-width">
    <mat-label>ID</mat-label>
    <input matInput placeholder="id" [(ngModel)]="factura.id">
  </mat-form-field>

  <br>

  <mat-form-field class="example-full-width">
    <mat-label>Fecha</mat-label>
    <input matInput required placeholder="fecha" [(ngModel)]="factura.DFecha">

  </mat-form-field>

  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Monto</mat-label>
    <input type="monto" matInput required placeholder="monto" [(ngModel)]="factura.Monto">
  </mat-form-field>

  <br>
  <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
  <button mat-raised-button color="warn" routerLink="/facturas">Cancelar</button>
  <p>{{mensaje}}</p>

  <br>

</div>
