<div class="mat-headline demo-table" style="text-align: center; font-size: 4rem; padding-top: 1rem; margin-block: 2rem; font-weight: bolder; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">VEHICULOS</div>

<app-vehiculo-buscar></app-vehiculo-buscar>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="margin:auto; width:38rem;">

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="cvehiculo">
    <th mat-header-cell *matHeaderCellDef> Placa </th>
    <td mat-cell *matCellDef="let element"> {{element.cvehiculo}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="cplaca">
    <th mat-header-cell *matHeaderCellDef> Fecha </th>
    <td mat-cell *matCellDef="let element"> {{element.cplaca}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="tdetalle">
    <th mat-header-cell *matHeaderCellDef> Detalle </th>
    <td mat-cell *matCellDef="let element"> {{element.tdetalle}} </td>
  </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="dano">
      <th mat-header-cell *matHeaderCellDef> Año </th>
      <td mat-cell *matCellDef="let element"> {{element.dano}} </td>
    </ng-container>

      <!-- Position Column -->
  <ng-container matColumnDef="nmarca">
    <th mat-header-cell *matHeaderCellDef> Marca </th>
    <td mat-cell *matCellDef="let element"> {{element.nmarca}} </td>
  </ng-container>

  <ng-container matColumnDef="nmodelo">
    <th mat-header-cell *matHeaderCellDef> Modelo </th>
    <td mat-cell *matCellDef="let element"> {{element.nmodelo}} </td>
  </ng-container>

  <ng-container matColumnDef="cliente">
    <th mat-header-cell *matHeaderCellDef> Cliente </th>
    <td mat-cell *matCellDef="let element"> {{element.cliente.ncliente}} </td>
  </ng-container>

  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"
        [routerLink]="['edicion', element?.cvehiculo]">Actualizar</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="acciones2">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="warn"(click)="confirmar(element.cvehiculo)">Eliminar</button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="example-button-container">
  <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon"
    routerLink="/vehiculos/nuevo">
    <mat-icon>plus_one</mat-icon>
  </button>
</div>
